##
## high-level source file editing: word file
##
## the actual processing is done by a studio-input-filter xserver application.
## this file contains html and javascript which (1) provides a download link to the user
## for the current version of the source code (a word RTF file), and (2) receives
## an uploaded file, sends that to the xserver for conversion to xml, then uploads
## the xml and new source code to the cms.
##
## beware this uses a cross-domain ajax call, so the studio-input-filter server
## needs to be configured with the appropriate Access-Control-Allow-* lines.

<%
  import hashlib
  sourceurl = module.location.url()
  hlskey = hashlib.md5(sourceurl).hexdigest()
%>

  <section id="hls-modal-${hlskey}" class="upload-modal modal" style="width:90%!important; left:5%!important; margin-left:0px!important; height:90%; overflow:auto; background:#ECF7D3; font-size:large;" >
  <a href="#" class="close-button"><span class="close-icon"></span></a>
  <div id="hls-div">
    <header>
      <h2>Word Source Editing</h2>
    </header>

    <div id="dropzone">
    <h3>Instructions:</h3>
    <p>1. Download the 
          <a href="/get_source/${sourceurl}">Word-format Source File</a> 
	  for this problem</p>

    <p>2. Edit the file locally.</p>

    <p>3. Save the file as one in <font color="red">Rich Text Format (.rtf)</font>.  Do NOT save as .doc or .docx format.</p>

    <p>4. Upload the resulting *.rtf file.</p>

    <form id="hls-form" enctype="multipart/form-data">
            <p>Upload file: <span id="hls-finput"></span></p>
            <!-- <p>Or drag/drop your *.rtf file anywhere in this window.</p> -->
      <div style="font-size:large;" class="progress" id="progress"></div>
      <input id="wordfileReset" type="reset" value="reset" style="display:none" />
    </form>
      </div>
  </div>
  </section>
    
<script type="text/javascript">
  <%include file="word-edit.js" />
  var wefun = wedit_setup('${hlskey}', '${sourceurl}');
</script>
