<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../../static_content.html'/>
<%page args="tabName"/>

<%
  import hashlib
  import copy
  import json
  hlskey = hashlib.md5(module.location.url()).hexdigest()
%>

## js templates

<script id="metadata-videolist-entry" type="text/template">
    <%static:include path="js/transcripts/metadata-list-entry.underscore" />
</script>

<script id="transcripts-found" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-found.underscore" />
</script>

<script id="transcripts-uploaded" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-uploaded.underscore" />
</script>

<script id="transcripts-not-updated" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-not-updated.underscore" />
</script>

<script id="transcripts-not-found" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-not-found.underscore" />
</script>

<script id="transcripts-conflict" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-conflict.underscore" />
</script>

<script id="transcripts-on-youtube" type="text/template">
    <%static:include path="js/transcripts/messages/transcripts-on-youtube.underscore" />
</script>



<!--
Flag for checking HTML5 subtitles availability.
{subtitlesExist: '${has_subs_content}'}
-->


<% metadata_fields = copy.deepcopy(editable_metadata_fields) %>
<%
    display_name = metadata_fields['display_name']
    video_url = metadata_fields['html5_sources']
    youtube_id_1_0 = metadata_fields['youtube_id_1_0']

    def get_youtube_link(video_id):
      return 'http://youtu.be/{0}'.format(video_id)

    video_url.update({
        'help': 'To be sure all students can view the video, we recommend providing alternate versions of the same video: mp4, webm and youtube (if available).',
        'display_name': 'Video URL',
        'field_name': 'video_url',
        'type': 'VideoList',
        'default_value': [
          get_youtube_link(youtube_id_1_0['default_value'])
        ]
    })

    video_url['value'].insert(\
      0,
      get_youtube_link(youtube_id_1_0['value'])
    )

    metadata = {
        'display_name': display_name,
        'video_url': video_url
    }
 %>

<div class="wrapper-comp-settings basic_metadata_edit" data-metadata='${json.dumps(metadata) | h}'></div>


<script type="text/javascript">

    var transcripts = new Transcripts.Editor({
            el: $('.component-editor').find('.basic_metadata_edit')
        })
        storage = TabsEditingDescriptor.getStorage();

    TabsEditingDescriptor.Model.addModelUpdate(
        '${html_id}',
        '${tabName}',
        function () {
            // Advanced, Save
            metadataEditor = storage.MetadataEditor;

            if (metadataEditor) {
              transcripts.syncAdvancedTab(metadataEditor.collection);
            }
        }
    );

    TabsEditingDescriptor.Model.addOnSwitch(
        '${html_id}',
        '${tabName}',
        function () {
            // Basic
            metadataEditor = storage.MetadataEditor;

            if (metadataEditor) {
              transcripts.syncBasicTab(metadataEditor.collection);
            }
        }
    );
</script>
